@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --blue: #1d5d9b;
  --orange: #ff241d;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
  color: black;
}
/* Леветирующий телефон */
.sticky-phone {
  margin-top: -4.5em;
  top: 85%;
  margin-left: 95%;
  position: sticky;
  cursor: pointer;
}
.sticky-phone a img {
  width: 4em;
  opacity: 80%;
}
@media (max-width: 768px) {
  .sticky-phone {
    margin-left: 75%;
  }
}
/* Прехедер */
.preheader {
  height: 7vh;
  background-color: var(--blue);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.preheader-hours{
  color:white;
}
.preheader p img {
  width: 25px;
  padding: 0.2em;
  opacity: 0.5;
  display: inline-block;
  vertical-align: bottom;
}
.preheader a{
  color: white;
}
.preheader button {
  background-color: var(--orange);
  border-radius: 5px;
  color: white;
  border: none;
  padding: 0.5em;
  cursor: pointer;
}
@media (max-width: 768px) {
  .preheader {
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .preheader-hours {
    display: none;
  }
}
/* Хедер */
header {
  height: auto;
  background-color: white;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 10vh;
  align-items: center;
}
.nav-logo {
  margin-top: 5px;
}
.nav-list {
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
  padding: 1em;
}
.services {
  position: relative;
}
.nav-link {
  position: relative;
  padding: 2em 0.5em;
}
.nav-link:after {
  content: "";
  position: absolute;
  background-color: var(--orange);
  height: 3px;
  width: 0;
  left: 0;
  bottom: 25px;
  transition: 0.3s;
}
.nav-link:hover {
  color: gray;
}
.nav-link:hover:after {
  width: 100%;
}
.dropdown {
  position: absolute;
  display: none;
  width: 18em;
  background-color: white;
  padding: 1em 2em;
  border-radius: 5px;
  top: 45px;
  text-align: center;
}
.dropdown li {
  margin-top: 1em;
}
.dropdown li a {
  transition: 0.3s ease-in;
}
.dropdown li a:hover {
  color: grey;
}
.services:hover .dropdown {
  display: block;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: 0.3s ease-in-out;
  background-color: black;
}
.social {
  display: flex;
}
.teleg,
.viber,
.inst {
  width: 1.5em;
  margin-left: 0.5em;
  opacity: 70%;
}
@media (max-width: 768px) {
  .nav-menu {
    justify-content: space-between;
  }
  .hamburger {
    display: block;
    padding-right: 1em;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-list {
    position: absolute;
    left: -120%;
    flex-direction: column;
  }
  .nav-list.active {
    left: 0%;
    top: 17%;
    gap: 0.5em;
    font-size: 1rem;
    font-weight: 500;
    gap: 2em;
  }

  .dropdown {
    margin-left: 80%;
    z-index: 1000;
    padding: 0.5em 0.5em;
    border: 1px solid grey;
    top: -40px;
  }
  .nav-link {
    padding: 0;
  }
  .nav-link:after {
    bottom: -6px;
    width: 100%;
  }
  header.active {
    height: 40vh;
  }
  .services:active .dropdown {
    display: block;
  }
  .teleg {
    display: block;
  }
}

/* Хиро */

main {
  height: auto;
  display: flex;
  background-color: var(--blue);
  border-radius: 0 0 10px 10px;
  justify-content: space-between;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
}
.hero-text h1 {
  color: white;
  font-weight: 400;
}
.hero-text h2 {
  margin-top: 2em;
  color: whitesmoke;
  font-weight: 300;
  font-size: 1em;
}
.main-consult {
  margin-top: 2em;
}
.main-consult input {
  border-radius: 5px;
  padding: 0.5em;
  margin-right: 0.3em;
  border: 1px grey solid;
}
.main-consult button {
  background-color: var(--orange);
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  color: whitesmoke;
  cursor: pointer;
}
#success {
  color: white;
  font-weight: 600;
  padding: 0.5em;
  display: none;
}
.main-cities {
  margin-top: 0.5em;
  color: whitesmoke;
  font-weight: 300;
}
.hero-img {
  width: 30em;
  height: 100%;
  align-self: center;
}
.hero-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}
@media (max-width: 768px) {
  main {
    flex-direction: column;
    height: auto;
    background-image: none;
  }
  .hero-text {
    padding: 1em;
    justify-content: flex-start;
  }
  .hero-text h1 {
    text-align: center;
    font-weight: 500;
  }
  .hero-text h2 {
    margin-top: 1em;
    text-align: center;
  }
  .main-consult p {
    font-size: 0.8em;
  }
  .hero-img {
    width: 95%;
  }
  .hero-img img {
    border-radius: 5px;
  }
}

/* Приемущества */

.benefits {
  height: auto;
  background-color: var(--blue);
  padding-bottom: 5vh;
  max-width: 80%;
  margin: auto;
  border-radius: 10px;
}
.benefits h2 {
  text-align: center;
  padding: 1em;
  color: white;
  font-weight: 500;
  position: relative;
}
.benefits-сontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  padding: ;
}
.benefits-block {
  width: 15em;
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 1em;
  background-color: white;
}
.benefits-block img {
  width: 6em;
}
.benefits-block p {
  text-align: center;
  font-weight: 600;
}
@media (max-width: 768px) {
  .benefits {
    height: auto;
    max-width: 100%;
  }
  .benefits-сontainer {
    justify-content: space-between;
    flex-direction: column;
  }
  .benefits-block {
    width: 85%;
  }
}

/* О клинике */

.about-clinic {
  height: 40vh;
  max-width: 70%;
  margin: auto;
  display: flex;
  padding-bottom: 2em;
}
.clinic-description h2 {
  padding: 1em 0;
  font-weight: 500;
  display: inline-block;
  position: relative;
}
.clinic-description h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 18px;
  border-radius: 10px;
  background-color: #1d5d9b;
  left: 0px;
}
.clinic-description p {
  line-height: 1.6rem;
}
.clinic-img {
  width: 165em;
  display: flex;
  align-items: flex-end;
  padding: 1em;
}
.clinic-img img {
  object-fit: contain;
  width: 100%;
  box-shadow: -7px 7px 0px var(--blue);
}
@media (max-width: 768px) {
  .about-clinic {
    height: auto;
    flex-direction: column;
    max-width: 95%;
  }
  .clinic-img {
    margin-top: 1em;
    width: auto;
  }
}
/* Наши услуги */

.our-services {
  height: auto;
  max-width: 70%;
  margin: auto;
  text-align: center;
}
.our-services h2 {
  display: inline-block;
  padding: 1em 0;
  position: relative;
  font-weight: 500;
}
.our-services h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 18px;
  border-radius: 10px;
  background-color: #1d5d9b;
  left: 0px;
}
.our-services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(2, 0);
  grid-template-rows: repeat(2, 1fr) repeat(2, 0);
  grid-column-gap: 0px;
  grid-row-gap: 1em;
}
.our-services-block1 {
  grid-area: 1 / 1 / 2 / 2;
}
.our-services-block2 {
  grid-area: 1 / 2 / 2 / 3;
}
.our-services-block3 {
  grid-area: 2 / 1 / 3 / 2;
}
.our-services-block4 {
  grid-area: 2 / 2 / 3 / 3;
}
/* .our-services-block5 {
  grid-area: 3 / 1 / 4 / 2;
}
.our-services-block6 {
  grid-area: 3 / 2 / 4 / 3;
} */
.our-services-block1,
.our-services-block2,
.our-services-block3,
.our-services-block4,
.our-services-block5,
.our-services-block5,
.our-services-block6 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.our-services-block1 img,
.our-services-block2 img,
.our-services-block3 img,
.our-services-block4 img,
.our-services-block5 img,
.our-services-block5 img,
.our-services-block6 img {
  border-radius: 50%;
  width: 7em;
  border: 2px solid var(--blue);
  padding: 0.2em;
}
.our-services-block1 p,
.our-services-block2 p,
.our-services-block3 p,
.our-services-block4 p,
.our-services-block5 p,
.our-services-block5 p,
.our-services-block6 p {
  text-align: center;
  font-weight: 600;
}
/* .our-services-row {
  display: flex;
  flex: row;
  justify-content: space-between;
  margin-top: 1em;
} */
.our-services-block {
  width: 15em;
  height: 10em;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.our-services-block p {
  text-align: center;
}

@media (max-width: 768px) {
  .our-services {
    height: auto;
    max-width: 95%;
  }
  .our-services-block1 p,
  .our-services-block2 p,
  .our-services-block3 p,
  .our-services-block4 p,
  .our-services-block5 p,
  .our-services-block5 p,
  .our-services-block6 p {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
  }
}

/* Выезд нашего врача к вам домой */

.home-doctor {
  height: auto;
  max-width: 70%;
  margin: auto;
  text-align: center;
}
.home-doctor h2 {
  display: inline-block;
  padding: 1em 0;
  position: relative;
}
.home-doctor h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 18px;
  border-radius: 10px;
  background-color: #1d5d9b;
  left: 0px;
}
.home-doctor-container {
  display: flex;
}
.home-doctor-img {
  width: 200em;
  margin-right: 2em;
  align-self: center;
}
.home-doctor-img img {
  object-fit: contain;
  width: 100%;
  margin-bottom: 1em;
  box-shadow: 10px 10px 0px var(--blue);
}
.home-doctor-container p {
  line-height: 1.5em;
  text-align: left;
}
@media (max-width: 768px) {
  .home-doctor {
    height: auto;
    max-width: 95%;
  }
  .home-doctor-container {
    flex-direction: column;
  }
  .home-doctor-img {
    width: auto;
  }
  .home-doctor-img img {
    width: 100%;
  }
}

/* Наши спецалисты */

.doctors {
  max-width: 70%;
  margin: auto;
  text-align: center;
}
.doctors h2 {
  padding: 1em 0em;
  display: inline-block;
  position: relative;
}
.doctors h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 18px;
  border-radius: 10px;
  background-color: #1d5d9b;
  left: 0px;
}
.doctors-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}
.doctor-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.doctor-block img {
  object-fit: fill;
  height: 20em;
  width: auto;
  box-shadow: 5px -5px 0px var(--blue);
}
.doctor-block h4 {
  font-size: 0.9rem;
}
.doctor-block p {
  text-align: center;
  font-size: 0.9rem;
}
@media (max-width: 768px) {
  .doctors {
    height: auto;
    max-width: 95%;
  }
  .doctor-block img {
    object-fit: fill;
    width: 70%;
    height: auto;
  }
  /* .doctors-container {
    flex-direction: column;
    align-items: center;
  } */
}

/* Отзывы */

.reviews {
  height: auto;
  max-width: 70%;
  margin: auto;
  text-align: center;
  padding-bottom: 1.5em;
}
.reviews h2 {
  padding: 1em 0;
  display: inline-block;
  position: relative;
}
.reviews h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 18px;
  border-radius: 10px;
  background-color: #1d5d9b;
  left: 0px;
}
.reviews-container {
  display: flex;
  flex-direction: column;
}
.reviews-column1 {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  padding-bottom: 0.5em;
}
.reviews-column2 {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.reviews-block {
  font-size: 14px;
  border: 1px solid grey;
  padding: 0.5em;
  border-radius: 5px;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.reviews-block p {
}
.reviews-name-rate {
  display: flex;
  justify-content: space-between;
  padding: 0.3em 0;
}
.reviews-name-rate p {
  color: gray;
  font-size: 0.8rem;
}
.reviews-name-rate img {
  height: 1em;
  width: auto;
}
.reviews-disclaimer p {
  opacity: 50%;
  font-size: 0.7rem;
  text-align: center;
  padding: 0.3em 0;
}
@media (max-width: 768px) {
  .reviews {
    max-width: 95%;
    height: auto;
  }
  .reviews-container {
    flex-direction: column;
  }
}

/* Контакты */
.contacts {
  height: 70vh;
  max-width: 70%;
  margin: auto;
  border: 1px solid grey;
  box-shadow: 0px 0px 5px grey;
  padding: 1em;
  margin-bottom: 1em;
}
.contacts-container {
  display: flex;
  justify-content: space-between;
}
.contacts-numbers {
  line-height: 2em;
  text-align: center;
  padding-bottom: 1em;
}
.contacts-numbers h2 {
  padding: 1em 0;
  position: relative;
  display: inline-block;
}
.contacts-numbers h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 18px;
  border-radius: 10px;
  background-color: #1d5d9b;
  left: 0px;
}
.contacts-numbers p {
  text-align: left;
}
@media (max-width: 769px) {
  .contacts {
    height: auto;
    max-width: 95%;
  }
  .contacts-container {
    flex-direction: column;
  }
  .contacts-map iframe {
    width: 100%;
    height: 100%;
  }
}

/* Футер */
.footer {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  background-color: var(--blue);
  align-items: center;
  padding: 1em 2em;
}
.footer-logo {
  padding-bottom: 1em;
}
.footer-services ul li {
  color: white;
  margin-bottom: 0.6em;
  font-weight: 300;
}
.footer-services ul li a {
  color: white;
  font-weight: 300;
}
.footer-services {
  padding-bottom: 1em;
}
.year {
  text-align: center;
}
@media (max-width: 768px) {
  .footer {
    height: auto;
    flex-wrap: wrap;
  }
}
